.heart {
  position: absolute;
  color: rgba(68, 13, 13, 0.404);
  font-size: 20px;
  animation: floatup 6s linear infinite;
}

@keyframes floatup {

  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

footer {
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  margin: 0;
  min-height: 100vh;
  background: black;
  overflow: hidden;

  font-family: Arial, sans-serif;
  background-color: black;
}
nav{
  display: flex;
  color: white;
}
*{
  color: white;
}
textarea {
  font-size: larger;
  background-color: black;
  width: 100%;
  
  height: 95vh;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding and border are included in the 100% width calculation */
}
.editorTitle{
  width: 90%;
  border: none;
  font-size: larger;
  padding: 10px;
  background-color: black;
}
.editorSection{
  width: 95vw;
}
section{
  border: 1px solid yellowgreen;
  border-radius: 12px;
}
nav{
  display: flex;
  justify-content:space-between;
  margin: 20px;
  background-color:rgba(35, 30, 30, 0.808);
  padding: 20px;
}
.left{
  text-align: center;
  display: flex;
  width: 20%;
  gap: 50px;
  justify-content: flex-start;
}
.right{
  text-align: center;
  display: flex;
  width: 20%;
  gap: 50px;
  justify-content: flex-end;
}

.title{
  margin: 20px;
  border: 1px solid yellowgreen;
  border-radius: 12px;
  height: 40px;
  overflow: hidden;
}
.newnotes {

margin: 20px;
width: 100px;
border: 1px solid white;
padding: 20px;
}
