.heart {
   
    
   
    background-color: black;
    margin-bottom: 70px;
}
.container{
    width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;

  background-color: black;
  margin: 0;

}
body{
    background-color: black;
}
*{
    
    margin: 0;
    box-sizing: border-box;
}