.photos figure{

   margin: 2px;

  overflow: hidden;
  border-radius: 12px;
    max-height: 150px;
  
}
img :hover {
     border: 1px solid #777;
}
img{
   width: 100%;
   margin: 0px;
    max-height: 150px;
}
.photos{
   display:grid;
  grid-template-columns:repeat(auto-fit, minmax(100px,1fr));
  gap:4px;
   margin: 5px;
        border: 1px solid white;
        border-radius: 12px;
    overflow: hidden;
  
}
*{
    box-sizing: border-box;
    
 
}
figcaption{
    display: none;
}
@media screen and (min-width: 600px) {
    .photos{
        margin: 10px;
        border: 1px solid white;
        border-radius: 12px;
   display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
  gap:4px;

  
}
 
}