/* .container {


  width: 100vw;
  height: 100vw;
  position: fixed;
  z-index: -1;

  background-color: black;
  margin: 0;
} */

.ball {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid purple;
  background-color: black;
  margin-bottom: 70px;
}

.box .date {
  margin-left: 20px;
}

.box {
  width: 95vw;
  display: flex;
  justify-content: space-between;
}

button {
  font-weight: 800;

  font-style: italic;
  padding: 7px 20px;
  background-color: rgba(255, 255, 0, 0.551);



  border-radius: 16px;
  cursor: pointer;
}

h1 {
  color: white;
}

body {
  background-color: black;
  text-align: center;
  /* display: flex; */





}

p {
  font-family: cursive;
}

p>span {
  font-size: x-large;
}

* {
  color: white;
}

footer {
  margin-top: 10vh;

  left: 0;
  /* width: 100%; */



  color: white;

}

.date {
  padding: 7px;
}

/* /* .vibrate {
  display: inline-block;
  animation: vibratePulse 2.5s infinite;
  transform-origin: center; /* text center se scale hona */


/* @keyframes vibratePulse {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(2px, -2px) scale(1.1);
  }
  50% {
    transform: translate(-2px, 2px) scale(0.95);
  }
  75% {
    transform: translate(2px, 2px) scale(1.05);
  }
  100% {
    transform: translate(0, -2px) scale(1);
  }
} */
.timeline {

  margin-top: 50px;
  height: 70vh;
  width: 70vw;
  margin: auto;
}


@keyframes glow {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.6;
  }
}


.line {

  position: relative;
  width: 2px;
  height: 400px;
  margin: auto;
  background: #ffe9a3;
  /* filter: bright(7); */
  animation: glow 2s ease-in-out infinite;

  box-shadow:
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow;

}





.bottom {
  border-radius: 12px;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(255, 255, 0, 0.605);
}

.fist {
  position: absolute;
  top: 125px;
  left: 56.6vw;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 0, 0.605);

}

.first-line {

  position: absolute;
  top: 175px;
  left: 50vw;
  border: solid white 0.5px;
  z-index: 0;
  width: 6.5vw;
  height: 0px;
}

.third {
  border-radius: 12px;
  position: absolute;
  top: 350px;
  left: 56.6vw;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(255, 255, 0, 0.605);
}

.third-line {
  position: absolute;
  top: 400px;
  left: 50vw;
  border: solid white 0.5px;
  z-index: 0;
  width: 6.5vw;
  height: 0px;
}

.second {
font-family: sans-serif;
  position: absolute;
  border-radius: 12px;
  top: 250px;
  right: 56.7vw;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(255, 255, 0, 0.605);

}

.fourth-line {
  position: absolute;
  top: 300px;
  left: 43.3vw;
  border: solid white 0.5px;
  z-index: 0;
  width: 6.5vw;
  height: 0px;
}

.card:hover {
  background-color: rgba(255, 255, 0, 0.453)
}

.line::before {
  content: "";
  position: absolute;


  transform: translateX(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow:
    0 0 10px yellow,
    0 0 20px yellow,
    0 0 40px yellow;
  background: yellow;
  z-index: 3;

}


/* @keyframes glow {
  0%   { opacity: 0.1; }
  50%  { opacity: 0.9; }
  100% { opacity: 0.3; }
} */